/* LOGIN CSS*/
.invalid-details-error {
    -fx-text-fill: #b43c30;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
.valid-details {
    -fx-text-fill: #083f08;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
.TF-EmptyLogin {
    -fx-border-color: RED;
    -fx-border-width: 2;
    -fx-border-radius: 4;
}
#loginButton {
    -fx-background-color: #2C2D27;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-radius: 8px;
}
#loginButton:hover {
    -fx-background-color: #454643;
}
