<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AzeiteMax</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/JS/project.js}" defer></script>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body class="bg-bege">

<header class="bg-oliveira py-4 relative">
    <nav class="container mx-auto flex justify-between items-center">

        <a th:href="@{/home}" class="flex items-center">
            <img th:src="@{/assets/logo.png}" alt="Logo AzeiteMax" class="h-10 w-10 mr-5 ml-5">
            <span class="text-white text-xl font-bold">AzeiteMax</span>
        </a>

        <div class="space-x-16 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  ">
            <a th:href="@{/products}" class="text-white">Produto</a>
            <a th:href="@{/aboutUs}" class="text-white">Empresa</a>
        </div>

        <div class="flex items-center">
            <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                 th:if="${session['nomeUtilizador'] == null}" th:href="@{/login}">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"/>
            </svg>

            <a th:if="${session['nomeUtilizador'] == null}" th:href="@{/login}" class="text-white mr-5">Login</a>


        </div>

    </nav>
</header>


<form class="flex items-center justify-center mt-48 mb-auto" method="post" th:object="${user}" th:action="@{/login}">
    <div class="flex flex-col items-center bg-bege-escuro rounded-r-2xl w-2/5 h-3/5 p-8 ">
        <img th:src="@{/assets/logo.png}" alt="Logo AzeiteMax" class="h-10 w-10 mt-5">
        <p class="text-4xl mt-5">Login</p>

        <p class="mt-8">Username</p>
        <input type="text"
               th:field="*{username}"
               placeholder="Username"
               class="border rounded px-6 w-2/3 bg-bege loginError"
               th:classappend="${#fields.hasErrors('password')} ?'border-red-500' : 'border-oliveira'" />

        <p class="mt-4">Password</p>
        <input type="password"
               th:field="*{password}"
               placeholder="Password"
               class="border rounded px-6 w-2/3 bg-bege loginError"
               th:classappend="${#fields.hasErrors('password')} ? 'border-red-500' : 'border-oliveira'" />

        <div th:if="${#fields.hasErrors('password')}" class="loginError">
            <div class="text-sm mt-2 bg-red-400 text-white p-2 border border-red-600 rounded ">
                <span th:errors="*{password}"></span>
            </div>
        </div>



        <button class="bg-oliveira border border-oliveira rounded-md p-2 mt-8 hover:bg-green-600 hover:border-green-600 w-2/3">
            Login
        </button>
        <p class="mt-4">Ainda não tem conta?</p>
        <a th:href="@{/register}" class="text-blue-500"> Registe-se</a>
    </div>
</form>

</body>
</html>