<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>AzeiteMax</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script th:src="@{/JS/project.js}" defer></script>
  <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body class="bg-bege">

<header class="bg-oliveira py-4 relative">
  <nav class="container mx-auto flex justify-between items-center">

    <a th:href="@{/home}" class="flex items-center">
      <img th:src="@{/assets/logo.png}" alt="Logo AzeiteMax" class="h-10 w-10 mr-5 ml-5">
      <span class="text-white text-xl font-bold">AzeiteMax</span>
    </a>

    <div class="space-x-16 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  ">
      <a th:href="@{/products}" class="text-white">Produto</a>
      <a th:href="@{/orders}" class="text-white">Empresa</a>
    </div>

    <div class="flex items-center">
      <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
           th:if="${session['nomeUtilizador'] == null}" th:href="@{/login}">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"/>
      </svg>

      <a th:if="${session['nomeUtilizador'] == null}" th:href="@{/login}" class="text-white mr-5">Login</a>


      <div class="flex items-center justify-center relative">
        <div class="flex">
          <a th:if="${session['nomeUtilizador'] != null}" th:text="'Olá, ' + ${session['nomeUtilizador']}" class="text-white cursor-pointer" onclick="dropDownMenu()"></a>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" class="w-6 h-6 cursor-pointer" onclick="dropDownMenu()" th:if="${session['nomeUtilizador'] != null}">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
        </div>

        <div class="dropdown mt-5 absolute left-0">
          <div class="dropdown-content hidden bg-bege text-black absolute  mt-2 py-2 w-32 rounded-md shadow-md" id="myDropdown">

            <div class="flex flex-row items-center justify-center hover:bg-gray-200">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              <a  class="block px-4 py-2 " th:href="@{/profile}">Profile</a>
            </div>
            <div class="flex flex-row items-center justify-center hover:bg-gray-200">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
              </svg>
              <a class="block px-4 py-2" th:href="@{/orders}">Orders</a>
            </div>
            <hr class="my-2 border-gray-300">
            <div class="flex flex-row items-center justify-center hover:bg-red-200">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
              </svg>
              <a class="block px-4 py-2 hover:bg-red-200" th:href="@{/logout}" onclick="logout(event)" >Logout</a>
            </div>

          </div>
        </div>
      </div>


      <a th:href="@{/Carrinho}">
        <img th:src="@{/assets/car-icon.svg}" alt="" class="h-6 w-6 mr-5 ml-10">
      </a>
    </div>


  </nav>
</header>

<ul class="container mx-auto mt-8">
  <li th:each="produto, iter : ${produtos}" class="p-4">
    <div class="flex flex-row mt-14">
      <div th:class="${iter.even}? 'w-3/4 order-2 flex items-end justify-end ' : 'w-3/4'">
        <img th:src="@{${produto.imagem}}" alt="" class="h-80 w-80">
      </div>
      <div th:class="${iter.even}? 'w-full px-8 order-1 mt-14' : 'w-full px-8 mt-14'">
        <p class="text-3xl font-semibold text-gray-800" th:text="${produto.nome}"></p>
        <p class="mt-8" th:text="${produto.descricao}" style="text-align: justify;"></p>
      </div>
    </div>
  </li>
</ul>





<footer class="bg-oliveira py-4 text-white text-center">
  <div class="container mx-auto">
    <p class="text-sm">Rua José Avenaldo, Nº 981, Beja</p>
    <p class="text-sm">Contacto: 253444121</p>
    <p class="text-sm">© 2023 AzeiteMax. Todos os direitos reservados.</p>
  </div>
</footer>
</body>
</html>