<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AzeiteMax</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body class="bg-bege">

<header class="bg-oliveira py-4 relative">
    <nav class="container mx-auto flex justify-between items-center">

        <a th:href="@{/home}" class="flex items-center">
            <img th:src="@{/assets/logo.png}" alt="Logo AzeiteMax" class="h-10 w-10 mr-5 ml-5">
            <span class="text-white text-xl font-bold">AzeiteMax</span>
        </a>

        <div class="space-x-16 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  ">
            <a th:href="@{/products}" class="text-white">Produto</a>
            <a th:href="@{/Sobre nós}" class="text-white">Empresa</a>
        </div>

        <div class="flex items-center">
            <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                 th:href="@{/login}">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"/>
            </svg>
            <a th:href="@{/login}" class="text-white mr-5">Login</a>

            <a  th:href="@{/Carrinho}" >
                <img th:src="@{/assets/car-icon.svg}" alt="" class="h-6 w-6 mr-5 ml-5">
            </a>

        </div>

    </nav>
</header>


<form class="flex items-center justify-center mt-20 mb-auto" method="post" th:object="${user}" th:action="@{/register}">
    <div class="flex flex-col items-center bg-bege-escuro rounded-r-2xl w-2/5 h-3/5 p-8 ">
        <p class="text-4xl mt-5">Registo</p>
        <img th:src="@{/assets/logo.png}" alt="Logo AzeiteMax" class="h-10 w-10 mt-5">

        <div class="flex flex-row">
            <div class="flex flex-col mr-20">
                <a class="mt-8">Nome</a>
                <input type="text"
                       th:field="*{nome}"
                       placeholder="Nome"
                       class="border rounded px-6 w-6/6 bg-bege"
                       th:classappend="${#fields.hasErrors('nome')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>

            <div class="flex flex-col">
                <a class="mt-8">NIF</a>
                <input type="tel"
                       th:field="*{NIF}"
                       placeholder="NIF"
                       class="border rounded px-6 w-6/6 bg-bege"
                       th:classappend="${#fields.hasErrors('NIF')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="flex flex-col mr-20">
                <a class="mt-4">Rua</a>
                <input type="text"
                       th:field="*{Rua}"
                       placeholder="Rua"
                       class="border rounded px-6 w-6/6 bg-bege"
                       th:classappend="${#fields.hasErrors('Rua')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>

            <div class="flex flex-col">
                <a class="mt-4">Nº Porta</a>
                <input type="tel"
                       th:field="*{num_porta}"
                       placeholder="Nº Porta"
                       class="border rounded px-6 w-2/3 bg-bege"
                       th:classappend="${#fields.hasErrors('num_porta')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="flex flex-col mr-20">
                <a class="mt-4">Código Postal</a>
                <input type="text"
                       pattern="[0-9]{4}-[0-9]{3}"
                       th:field="*{cod_postal}"
                       placeholder="Código Postal"
                       class="border rounded px-6 w-6/6 bg-bege"
                       th:classappend="${#fields.hasErrors('cod_postal')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>

            <div class="flex flex-col">
                <a class="mt-4">Telemóvel</a>
                <input type="tel"
                       pattern="[0-9]{9}"
                       th:field="*{telemovel}"
                       placeholder="Telemóvel"
                       class="border rounded px-6 w-6/6 bg-bege"
                       th:classappend="${#fields.hasErrors('telemovel')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>
        </div>


        <hr class="bg-oliveira h-1 w-60 mt-8">

        <div class="flex flex-row mt-4">
            <div class="flex flex-col mr-20">
                <a class="mt-4">Email</a>
                <input type="email"
                       th:field="*{email}"
                       placeholder="Email"
                       class="border rounded px-6 w-6/6 bg-bege"
                       th:classappend="${#fields.hasErrors('email')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>
            <div class="flex flex-col ">
                <a class="mt-4">Username</a>
                <input type="text"
                       th:field="*{username}"
                       placeholder="Username"
                       class="border rounded px-6 w-6/6 bg-bege"
                       th:classappend="${#fields.hasErrors('username')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>
        </div>

        <div class="flex flex-row">

            <div class="flex flex-col mr-20">
                <a class="mt-4">Password</a>
                <input type="password"
                       th:field="*{password}"
                       placeholder="Password"
                       class="border rounded px-6 w-6/6 bg-bege"
                       th:classappend="${#fields.hasErrors('password')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>
            <div class="flex flex-col">
                <a class="mt-4">Confirm Password</a>
                <input type="password"
                       th:field="*{confirmPassword}"
                       placeholder="Confirm Password"
                       class="border rounded px-6 w-6/6 bg-bege"
                       th:classappend="${#fields.hasErrors('confirmPassword')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>
        </div>

        <button class="bg-oliveira border border-oliveira rounded-md p-2 mt-16 hover:bg-green-600 hover:border-green-600 w-1/3">Registar</button>

    </div>
</form>


</body>
</html>